<!-- .block-banner -->
<div class="block block-banner">
    <div class="container block-banner-container">
        <a href="" class="block-banner__body">
            <div class="block-banner__image block-banner__image--desktop"></div>
            <div class="block-banner__image block-banner__image--mobile"
                 style="background-image: url('assets/images/banners/banner-1-mobile.jpg')"></div>
            <div class="block-banner__title">Exclusive <br class="block-banner__mobile-br">Offer</div>
            <div class="block-banner__text">Integer ut ipsum ac nibh congue scelerisque. Aenean et eros commodo, lacinia eros sed, fermentum nisi.
            </div>
            <div class="block-banner__button">
                <span class="btn btn-sm btn-primary">Shop Now</span>
            </div>
        </a>
    </div>
</div>
<!-- .block-banner / end -->
