<h4 class="widget__title">Tags Cloud</h4>
<div class="widget-tags widget">
    <div class="tags tags--lg">
        <div class="tags__list">
            <a routerLink="./">Bag</a>
            <a routerLink="./">Department Store</a>
            <a routerLink="./">Sewing</a>
            <a routerLink="./">Leather</a>
            <a routerLink="./">Watches</a>
            <a routerLink="./">Kiosk</a>
            <a routerLink="./">Fashion</a>
            <a routerLink="./">Perfumery</a>
            <a routerLink="./">Clothes</a>
            <a routerLink="./">Shoes</a>
            <a routerLink="./">Cosmetics</a>
            <a routerLink="./">Beauty</a>
        </div>
    </div>
</div>
