<div class="block block-sidebar block-sidebar--position--{{ position }}">
    <div class="block-sidebar__item">
        <app-widget-aboutus></app-widget-aboutus>
    </div>
    <div class="block-sidebar__item">
        <app-widget-search></app-widget-search>
    </div>
    <div class="block-sidebar__item">
        <app-widget-posts [posts]="posts|slice:0:3"></app-widget-posts>
    </div>
    <div class="block-sidebar__item">
        <app-widget-comments [comments]="latestComments|slice:0:3"></app-widget-comments>
    </div>
</div>
