@import '../variables';
.main-title {
    margin-bottom: 25px;
}

.borders {
    span {
        display: inline-block;
        position: relative;
        &:before,
        &:after {
            content: "";
            position: absolute;
            border-top: 2px solid $block-testimonial-default-color;
            width: 85px;
            transform: translate(0, -50%);
            top: 50%;
        }
        &:before {
            right: 100%;
            margin-right: 15px;
        }
        &:after {
            left: 100%;
            margin-left: 15px;
        }
    }
}

.app2 .title .title-img {
    height: 50px;
}

.app2.header .img-mobile .headaer-image {
    width: 415px;
}

.app2.about {
    padding-top: 170px;
}

.app2.about .set-height {
    min-height: 632px;
}

.app2.about .set-height .mobile1 {
    position: absolute;
    width: 355px;
    right: 0;
}

.app2.about .set-height .j-img {
    position: absolute;
    right: 20%;
    bottom: 27%;
    width: 56px;
    -webkit-animation: movej 4s linear infinite;
    animation: movej 4s linear infinite;
}

.app2.quality .set-height {
    min-height: 627px;
}

.app2.quality .set-height .mobile2 {
    position: absolute;
    width: 460px;
    top: -36px;
}

.app2.team .team-slider .owl-stage-outer {
    margin: -5px;
}

.app2.team .team-slider .team-container {
    padding: 25px 30px;
    border: 1px solid $block-testimonial-default-color ;
    -webkit-box-shadow: 0 0 10px 5px rgba(253, 248, 247, 0.69);
    box-shadow: 0 0 10px 5px rgba(253, 248, 247, 0.69);
    border-radius: 10px;
    margin: 5px;
    background: #fff;
}

.app2.team .team-slider .team-container .members {
    width: 80px !important;
    margin: 0 auto;
    border: 5px solid #fff;
    border-radius: 100%;
    -webkit-filter: drop-shadow(0 0 5px #dbdbdb);
    filter: drop-shadow(0 0 5px #dbdbdb);
    margin-bottom: 20px;
}

.app2.team .team-slider .team-container .name {
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1920 - 300)));
    color: #1f232c;
    letter-spacing: 0;
    margin-bottom: 15px;
}

.app2.team .team-slider .team-container .post {
    margin-bottom: 15px;
}

.app2.team .team-slider .team-container .team-para {
    letter-spacing: 0;
}

.app2.screenshot .container {
    margin-bottom: 0;
}

.app2.services .animated-bg i, .app2.screenshot .animated-bg i {
    right: 30%;
}

.app2.pricing .price-container .feature-icon {
    color: #fff;
}

.app2.pricing .price-container .price-features .price-feature {
    color: #676767;
    margin-bottom: 15px;
    font-weight: 400;
}

.app2.pricing .price-container .price-feature-container .price-value .price {
    font-size: initial;
    margin: -22px 0 -15px;
}

.app2 .subscribe .button-primary {
    right: 2%;
}

.app2 .subscribe .button-primary button {
    font-size: calc(13px + (14 - 13) * ((100vw - 300px) / (1920 - 300)));
    padding: 20px 30px;
    letter-spacing: 0;
    font-weight: 400;
}

.app2 .subscribe input {
    font-size: calc(13px + (14 - 13) * ((100vw - 300px) / (1920 - 300)));
}

.app2 .animated-bg i {
    background: #fff6f6;
    -webkit-box-shadow: 0 15px 30px 0 #f3c4c3;
    box-shadow: 0 15px 30px 0 #f3c4c3;
}
