<div class="block post post--layout--{{ layout }}">
    <div class="post__header post-header post-header--layout--{{ layout }}">
        <h1 class="post-header__title">Twice profit than before you</h1>
        <div class="post-header__meta">
            <div class="post-header__meta-item">By <a href="">Andrew Smith</a></div>
            <div class="post-header__meta-item"><a href="">November 15, 2019</a></div>
            <div class="post-header__meta-item"><a href="">2 Comments</a></div>
        </div>
    </div>

    <div class="post__content typography" [ngClass]="{'typography--expanded': layout === 'full'}">
        <figure>
            <a href="">
                <img src="assets/images/posts/post-featured.jpg" alt="">
            </a>
            <figcaption>Sed at ante a magna pretium dignissim.</figcaption>
        </figure>
        <p>
            Suspendisse est arcu, accumsan nec congue iaculis, interdum in mi. Nam dignissim at arcu eu rutrum. Vivamus tincidunt convallis diam vel
            fringilla. Sed feugiat sollicitudin ex, sit amet tempor velit semper eu. Nam vel eros imperdiet, posuere quam ac, suscipit odio. Integer
            viverra elementum sem, vel tempus risus pulvinar eu. In viverra ex nunc, non volutpat est luctus vitae. Quisque id eleifend erat. Aenean
            varius purus sit amet sem fermentum, <a href="">eros imperdiet tincidunt</a> eros porttitor. Etiam in tellus dignissim urna interdum
            semper. Mauris luctus mollis
            pharetra.
        </p>
        <blockquote>
            <p>
                What is in a name? That which we call a rose by any other name would smell as sweet.
            </p>
            <p><cite>William Shakespeare</cite></p>
        </blockquote>
        <hr>
        <p>
            Aliquam ornare convallis leo, vitae vehicula libero ultrices et. Curabitur sit amet ipsum condimentum, faucibus ante placerat, tincidunt
            nunc. Proin nec sem eget ex malesuada dapibus. Aliquam blandit malesuada tortor, sed interdum mi malesuada non. Suspendisse sed elit
            risus. Quisque nunc eros, iaculis at lorem ut, faucibus dictum quam. Integer volutpat posuere urna eu auctor. In luctus eget leo et
            congue. Morbi risus neque, tincidunt a nulla id, tristique imperdiet dolor.
            <strong>Morbi risus neque </strong> <a href="#">aliquam blandit malesuada tortor</a>
        </p>
        <p>
        <ol>
            <li>Mauris elementum <strong>fermentum enim, at malesuada</strong>. Nam pharetra diam faucibus tempus efficitur. Nam efficitur justo ac
                augue vestibulum pretium.
            </li>
            <li>Integer ut ipsum ac nibh congue scelerisque. <strong> Aenean et eros commodo, </strong>lacinia eros sed, fermentum nisi. Vestibulum
                vestibulum,
                augue
                vitae sodales interdum, purus mi consectetur tortor.
            </li>
            <li>Aliquam ornare convallis leo, vitae vehicula libero ultrices et. Curabitur sit amet ipsum condimentum, faucibus ante placerat,
                tincidunt nunc.
            </li>
            <li>Integer volutpat posuere urna eu auctor. In luctus eget leo et congue. Morbi risus neque, tincidunt a nulla id, tristique imperdiet
                dolor.
            </li>
        </ol>
        <figure>
            <a href="">
                <img src="assets/images/posts/post-featured_1.jpg" alt="">
            </a>
            <figcaption>Etiam in tellus dignissim urna interdum semper.</figcaption>
        </figure>
        <p>
            Vestibulum non varius lectus. Cras vel elit id ligula laoreet imperdiet. Mauris quis laoreet velit.
            Suspendisse sed velit nec ante facilisis pharetra.
        </p>
        <p>
            Phasellus ut elit vestibulum, dignissim mi non, suscipit ex. Praesent eu consequat nibh. Quisque ullamcorper, augue
            eu fringilla sodales, leo metus volutpat risus, <a href="#">at suscipit ipsum diam eget sem</a>. Maecenas dictum elit in enim molestie,
            vel sollicitudin erat ultricies. Sed risus tellus, molestie finibus dui quis, suscipit consequat ex.
        </p>
        <hr>
        <h2>Mauris elementum fermentum enim, at malesuada turpis eleifend non.</h2>
        <p>
            Fusce vel ligula dapibus, dictum massa vitae, suscipit neque. Aenean tempus posuere lacus, sit amet luctus diam commodo vitae. Suspendisse
            neque tellus, ultricies vel mi facilisis, blandit semper enim. <strong>Duis tempus rhoncus lacus,</strong> ullamcorper lacus
            tincidunt vel. Nam
            augue
            nibh, faucibus quis tempor ac, pellentesque ut sapien. Aliquam lobortis posuere tortor eu ultricies.
        </p>
        <p>
            Quisque sit amet erat ut augue varius finibus. Praesent lobortis congue sodales. Cras ex diam, pretium ut sem vel, commodo sollicitudin
            nibh.
        </p>

        <figure>
            <a href="">
                <img src="assets/images/posts/post-featured_1.jpg" alt="">
            </a>
            <figcaption>Mauris luctus mollis pharetra.</figcaption>
        </figure>
        <p>
            Etiam ac iaculis sapien, vel semper nisl. Vestibulum sit amet neque tincidunt, sodales tellus id, euismod velit. Sed et tellus ac augue
            maximus sagittis. Vivamus elementum sed mauris quis congue. Praesent dolor risus, vehicula sed nisl vel, varius mattis augue. Sed vehicula
            neque quis est varius porta.
        </p>

        <p>
            For information about how to contact us, please visit our <a routerLink="../contact-us-alt">contact page</a>.
        </p>
    </div>

    <div class="post-author">
        <div class="post-author__avatar">
            <a href=""><img src="assets/images/avatars/avatar-1.jpg" alt=""></a>
        </div>
        <div class="post-author__info">
            <div class="post-author__name">
                <a href="">William Blake</a>
            </div>
            <div class="post-author__about">Aliquam ornare convallis leo, vitae vehicula libero ultrices et. Curabitur sit amet ipsum condimentum,
                faucibus ante placerat, tincidunt nunc. Proin nec sem eget ex malesuada dapibus. Aliquam blandit malesuada tortor, sed interdum mi
                malesuada non. Suspendisse sed elit risus.
            </div>
        </div>
    </div>

    <section class="post__section">
        <h4 class="post__section-title">Comments ({{ comments.count }})</h4>

        <app-comments-list [comments]="comments.items"></app-comments-list>
    </section>


    <section class="post__section">
        <h4 class="post__section-title">Leave Comments</h4>

        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="comment-first-name">Nick</label>
                    <input type="text" class="form-control" id="comment-first-name" placeholder="Nick">
                </div>
                <div class="form-group col-md-6">
                    <label for="comment-first-name">E-mail</label>
                    <input type="text" class="form-control" id="comment-email" placeholder="E-mail">
                </div>
            </div>
            <div class="form-group">
                <label for="comment-content">Comment</label>
                <textarea class="form-control" id="comment-content" rows="8"></textarea>
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </form>
    </section>
</div>
