<div class="block about-us">
    <div class="about-us__image"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="about-us__body">
                    <h1 class="about-us__title">About Us</h1>
                    <div class="about-us__text typography">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacus metus, convallis ut leo nec, tincidunt
                            eleifend justo. Ut felis orci, hendrerit a pulvinar et, gravida ac lorem. Sed vitae molestie sapien, at
                            sollicitudin tortor.
                            Duis id volutpat libero, id vestibulum purus.Donec euismod accumsan felis,egestas lobortis velit tempor vitae.
                            Integer eget velit fermentum, dignissim odio non, bibendum velit.
                        </p>
                    </div>
                    <div class="about-us__team">
                        <h2 class="about-us__team-title">Meet Our Crew</h2>
                        <div class="about-us__teammates teammates">
                            <owl-carousel-o [options]="carouselOptions" appOwlPreventClick>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-1.jpg" alt="">
                                        </div>
                                        <div class="teammate__name">Nava Miller</div>
                                        <div class="teammate__position text-muted">Chief Executive Officer</div>
                                        <div class="teammate__text">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque esse iure aliquid enim, corrupti distinctio sit praesentium ducimus incidunt rem facilis expedita illo at tempore natus nihil veritatis accusamus vel. </p>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-2.jpg" alt="">
                                        </div>
                                        <div class="teammate__name">Genevieve Davis</div>
                                        <div class="teammate__position text-muted">Chief Financial Officer</div>
                                        <div class="teammate__text">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque esse iure aliquid enim, corrupti distinctio sit praesentium ducimus incidunt rem facilis expedita illo at tempore natus nihil veritatis accusamus vel. </p>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-3.jpg" alt="">
                                        </div>
                                        <div class="teammate__name">Ayden Garcia</div>
                                        <div class="teammate__position text-muted">Group Head of Audit </div>
                                        <div class="teammate__text">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque esse iure aliquid enim, corrupti distinctio sit praesentium ducimus incidunt rem facilis expedita illo at tempore natus nihil veritatis accusamus vel. </p>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-4.jpg" alt="">
                                        </div>
                                        <div class="teammate__name">Poppy Anderson</div>
                                        <div class="teammate__position text-muted">Deputy Chief Financial Officer</div>
                                        <div class="teammate__text">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque esse iure aliquid enim, corrupti distinctio sit praesentium ducimus incidunt rem facilis expedita illo at tempore natus nihil veritatis accusamus vel. </p>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-5.jpg" alt="">
                                        </div>
                                        <div class="teammate__name">Zahava Davis </div>
                                        <div class="teammate__position text-muted">Independent Non-Executive Director</div>
                                        <div class="teammate__text">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque esse iure aliquid enim, corrupti distinctio sit praesentium ducimus incidunt rem facilis expedita illo at tempore natus nihil veritatis accusamus vel. </p>
                                        </div>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
