<app-page-header [breadcrumbs]="[
    {label: 'Home',                 url: '../../'},
    {label: 'FAQ', url: ''}
]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="document">
            <div class="document__header">
                <h1 class="document__title">Get Instant answers for most common questions</h1>
                <div class="document__subtitle">This page was last modified on 30 November 2019.</div>
            </div>
            <div class="document__content typography">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis neque ut purus fermentum, ac pretium
                    nibh facilisis. Vivamus venenatis viverra iaculis. Suspendisse tempor orci non sapien ullamcorper dapibus.
                    Suspendisse at velit diam. Donec pharetra nec enim blandit vulputate. Suspendisse potenti. Pellentesque et
                    molestie ante. In feugiat ante vitae ultricies malesuada.
                </p>

                <h2>When I will receive my package i did not got any call?</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis neque ut purus fermentum, ac pretium
                    nibh facilisis. Vivamus venenatis viverra iaculis. Suspendisse tempor orci non sapien ullamcorper dapibus.
                    Suspendisse at velit diam. Donec pharetra nec enim blandit vulputate. Suspendisse potenti. Pellentesque et
                    molestie ante. In feugiat ante vitae ultricies malesuada.
                </p>
                <h2>I got promocodes , how to reedeem?</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis neque ut purus fermentum, ac pretium
                    nibh facilisis. Vivamus venenatis viverra iaculis. Suspendisse tempor orci non sapien ullamcorper dapibus.
                    Suspendisse at velit diam. Donec pharetra nec enim blandit vulputate. Suspendisse potenti. Pellentesque et
                    molestie ante. In feugiat ante vitae ultricies malesuada.
                </p>
                <h2>How to change the password of my account?</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis neque ut purus fermentum, ac pretium
                    nibh facilisis. Vivamus venenatis viverra iaculis. Suspendisse tempor orci non sapien ullamcorper dapibus.
                    Suspendisse at velit diam. Donec pharetra nec enim blandit vulputate. Suspendisse potenti. Pellentesque et
                    molestie ante. In feugiat ante vitae ultricies malesuada.
                </p>
                <h2>Do you have any stores in USA?</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis neque ut purus fermentum, ac pretium
                    nibh facilisis. Vivamus venenatis viverra iaculis. Suspendisse tempor orci non sapien ullamcorper dapibus.
                    Suspendisse at velit diam. Donec pharetra nec enim blandit vulputate. Suspendisse potenti. Pellentesque et
                    molestie ante. In feugiat ante vitae ultricies malesuada.
                </p>
                <h2>How to deactivate account?</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis neque ut purus fermentum, ac pretium
                    nibh facilisis. Vivamus venenatis viverra iaculis. Suspendisse tempor orci non sapien ullamcorper dapibus.
                    Suspendisse at velit diam. Donec pharetra nec enim blandit vulputate. Suspendisse potenti. Pellentesque et
                    molestie ante. In feugiat ante vitae ultricies malesuada.
                </p>
                <h2>How to pay bill throgh netbanking?</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis neque ut purus fermentum, ac pretium
                    nibh facilisis. Vivamus venenatis viverra iaculis. Suspendisse tempor orci non sapien ullamcorper dapibus.
                    Suspendisse at velit diam. Donec pharetra nec enim blandit vulputate. Suspendisse potenti. Pellentesque et
                    molestie ante. In feugiat ante vitae ultricies malesuada.
                </p>


                <p>For information about how to contact us, please visit our <a routerLink="../contact-us-alt">contact page</a>.</p>
            </div>
        </div>
    </div>
</div>
